<div class="row">
	<div class="four columns" id="tableOfContents">
		<ol class="three columns">
			<li>
				<a href="#docs/overview">Overview</a>
			</li>
			<ol>
				<li>
					<a href="#docs/overview/Finch.route()">Finch.route()</a>
				</li>
				<li>
					<a href="#docs/overview/Finch.call()">Finch.call()</a>
				</li>
				<li>
					<a href="#docs/overview/Finch.observe()">Finch.observe()</a>
				</li>
				<li>
					<a href="#docs/overview/Finch.navigate()">Finch.navigate()</a>
				</li>
				<li>
					<a href="#docs/overview/Finch.listen()">Finch.listen()</a>
				</li>
				<li>
					<a href="#docs/overview/Finch.ignore()">Finch.ignore()</a>
				</li>
				<li>
					<a href="#docs/overview/Finch.abort()">Finch.abort()</a>
				</li>
				<li>
					<a href="#docs/overview/Finch.options()">Finch.options()</a>
				</li>
			</ol>
			<li>
				<a href="#docs/introduction">Introduction</a>
			</li>
			<ol>
				<li>
					<a href="#docs/introduction/basic usage">Basic Usage</a>
				</li>
				<li>
					<a href="#docs/introduction/responding to url changes">Responding to URL Changes</a>
				</li>
			</ol>
			<li>
				<a href="#docs/parameters">Parameters</a>
			</li>
			<ol>
				<li>
					<a href="#docs/parameters/working with inline parameters (bindings)">Working with inline parameters (bindings)</a>
				</li>
				<li>
					<a href="#docs/parameters/working with query parameters">Working with Query Parameters</a>
				</li>
				<ol>
					<li>
						<a href="#docs/parameters/working with query parameters/Explicit Dependencies">
							Explicit Dependencies
						</a>
					</li>
					<li>
						<a href="#docs/parameters/working with query parameters/Implicit Dependencies">
							Implicit Dependencies
						</a>
					</li>
				</ol>
			</ol>
			<li>
				<a href="#docs/parentRoutes">
					Parent Routes
				</a>
			</li>
			<ol>
				<li>
					<a href="#docs/parentRoutes/Whats a parent route?">
						Whats a parent route?
					</a>
				</li>
				<li>
					<a href="#docs/parentRoutes/Parent routes are multi-leveled!">
						Parent routes are multi-leveled!
					</a>
				</li>
				<li>
					<a href="#docs/parentRoutes/Parent routes are cached">
						Parent routes are cached
					</a>
				</li>
				<li>
					<a href="#docs/parentRoutes/What about using bindings in parent routes?">
						What about using bindings in parent routes?
					</a>
				</li>
			</ol>
			<li>
				<a href="#docs/advancedTopics">
					Advanced Topics
				</a>
			</li>
			<ol>
				<li>
					<a href="#docs/advancedTopics/Asynchronous routes">
						Asynchronous routes
					</a>
				</li>
				<ol>
					<li>
						<a href="#docs/advancedTopics/Asynchronous routes/How do I abort a call?">
							How do I abort a call?
						</a>
					</li>
				</ol>
				<li>
					<a href="#docs/advancedTopics/Setup, Load, Unload, and Teardown">
						Setup, Load, Unload, and Teardown
					</a>
				</li>
			</ol>
		</ol>
	</div>
	<div class="eight columns" id="docs" data-bind="view: {viewModel: ArticleViewModel, template: ArticleTemplate}"></div>
</div>
<div></div>