<div id="download">
	<div class="row">
		<div class="title twelve columns">
			<h1>Download</h1>
		</div>
	</div>
	<div class="row">
		<div class="zip five columns">
			<a href="https://github.com/stoodder/finchjs/zipball/master">
				<img src="./images/zip.png" border="0" alt="Download Zip" title="Download Zip" />
			</a>
		</div>
		<div class="version two columns">v0.5.0</div>
		<div class="tar five columns">
			<a href="https://github.com/stoodder/finchjs/tarball/master">
				<img src="./images/tar.png" border="0" alt="Download Tar" title="Download Tar" />
			</a>
		</div>
	</div>
	<div class="row" id="gitRow">
		<div class="eight columns offset-by-two">
			<pre>$ git clone git://github.com/stoodder/finchjs</pre>
		</div>
	</div>
</div>
<div></div>